body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.calculator{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: minmax(120px,auto) repeat(5, 80px);
    grid-template-columns: repeat(4,80px);
    min-height: 100vh;
}

#screen{
    grid-column: 1 /-1;
    background-color: beige;
    border-radius: 5px;
}

